body{ background-color: #f1f1f1;
     color: #191970;
     font-family: "Raleway", sans-serif
    }
     
h1  {background-color: #616161;   
     color: #E6E6FA;
     line-height: 200%;
    font-family: "Raleway", sans-serif
    }
     
h2 {background-color: #9e9e9e;
     color: #E6E6FA; 
	 text-align: center;
     font-family: "Raleway", sans-serif
    }
    
p {
	font-size: 12pt; text-indent: 3em; 
	color: #000000;
}

#projectable {
    font-family: "Raleway", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#projectable td, #projectable th {
    border: 1px solid #616161;
    padding: 8px;
}

#projectable tr:nth-child(even){background-color: #ddd;}
#projectable tr:hover {background-color: #C8B4BA;}

#projectable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: black;
}

#projectable td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
} 
.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

